server:
  port: ${SERVER_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
      force-response: true

spring:
  application:
    name: crm
  profiles:
    active: ${ACTIVE_SPRING_PROFILE:dev}
  servlet:
    multipart:
      max-file-size: 6MB
      max-request-size: 10MB
  messages:
    encoding: UTF-8

logging:
  level:
    org.springframework.security: debug
